.projects {
  background: $lightblue;
  padding: 8rem 0;
  &__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 8px;
  }
  &__header {
    padding: 1rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 auto;
    max-width: 1216px;
    padding: 0 16px;
  }
  &__paragraph {
    color: $gray;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 580px;
  }
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin: 4rem 0 0 0;
  padding: 0;
  list-style-type: none;
  
  @media(max-width: $mobile){
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

  }

  &__container {
    padding: 3rem;
  }
  &__description {
    margin: 0;
    font-weight: 300;
    font-size: 1.125rem;;
    line-height: 2rem;
    color: $gray;
  }
  &__footer {
    background: $lightblue;
    padding: 1rem 3rem;
    text-align: right;
  
  }
  &__item {
    background: #fff;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    overflow: hidden;
  }
  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 1rem 0 .5rem;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $blue;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    & + & {
      margin-left: 3.125rem;

      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -26px;
        height: 2rem;
        width: 2px;
        background: $line-gray;
        display: block;
        pointer-events: none;
      }
    }
    &::before {
      content: "";
      display: block;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      background: url("assets/img/demo-icon.svg") center center no-repeat;
    }
    &--code::before {
      background: url("assets/img/code-icon.svg") center center no-repeat;
    }
  }
  &__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $gray;
    
  }
}
