.projects {
  background: $lightblue;
  padding: 8rem 0;
  &__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 8px;
  }
  &__header {
    padding: 1rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 auto;
    max-width: 1216px;
    padding: 0 16px;
  }
  &__paragraph {
    color: $gray;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 580px;
  }
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin: 4rem 0 0 0;
  padding: 0;
  list-style-type: none;
  
  @media(max-width: $mobile){
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

  }

  &__container {
    padding: 3rem;
  }
  &__description {
    margin: 0;
    font-weight: 300;
    font-size: 1.125rem;;
    line-height: 2rem;
    color: $gray;
  }
  &__footer {
    background: $lightblue;
    padding: 1rem 3rem;
    text-align: right;
  
  }
  &__item {
    background: #fff;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    overflow: hidden;
  }
  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 1rem 0 .5rem;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $blue;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    & + & {
      margin-left: 3.125rem;

      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -26px;
        height: 2rem;
        width: 2px;
        background: $line-gray;
        display: block;
        pointer-events: none;
      }
    }
    &::before {
      content: "";
      display: block;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9u%0D%0AZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjc1IDMu%0D%0AMjgxMjVIMi4yNUMxLjgzNTE2IDMuMjgxMjUgMS41IDMuNjE2NDEgMS41IDQuMDMxMjVWMTUuNjU2%0D%0AMkMxLjUgMTYuMDcxMSAxLjgzNTE2IDE2LjQwNjIgMi4yNSAxNi40MDYySDExLjE1NjJWMTkuMDMx%0D%0AMkg3LjEyNUM2LjkxODc1IDE5LjAzMTIgNi43NSAxOS4yIDYuNzUgMTkuNDA2MlYyMC41MzEyQzYu%0D%0ANzUgMjAuNjM0NCA2LjgzNDM3IDIwLjcxODggNi45Mzc1IDIwLjcxODhIMTcuMDYyNUMxNy4xNjU2%0D%0AIDIwLjcxODggMTcuMjUgMjAuNjM0NCAxNy4yNSAyMC41MzEyVjE5LjQwNjJDMTcuMjUgMTkuMiAx%0D%0ANy4wODEzIDE5LjAzMTIgMTYuODc1IDE5LjAzMTJIMTIuODQzOFYxNi40MDYySDIxLjc1QzIyLjE2%0D%0ANDggMTYuNDA2MiAyMi41IDE2LjA3MTEgMjIuNSAxNS42NTYyVjQuMDMxMjVDMjIuNSAzLjYxNjQx%0D%0AIDIyLjE2NDggMy4yODEyNSAyMS43NSAzLjI4MTI1Wk0yMC44MTI1IDE0LjcxODhIMy4xODc1VjQu%0D%0AOTY4NzVIMjAuODEyNVYxNC43MTg4WiIgZmlsbD0iIzA1OTNGQiIvPgo8L3N2Zz4K") center center no-repeat;
    }
    &--code::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9u%0D%0AZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjA5Mzgg%0D%0AMTUuNzczNEMxMi4wOTM4IDE1Ljg3NjYgMTIuMTczNCAxNS45NjA5IDEyLjI2OTUgMTUuOTYwOUgx%0D%0ANi42MDU1QzE2LjcwMTYgMTUuOTYwOSAxNi43ODEyIDE1Ljg3NjYgMTYuNzgxMiAxNS43NzM0VjE0%0D%0ALjY0ODRDMTYuNzgxMiAxNC41NDUzIDE2LjcwMTYgMTQuNDYwOSAxNi42MDU1IDE0LjQ2MDlIMTIu%0D%0AMjY5NUMxMi4xNzM0IDE0LjQ2MDkgMTIuMDkzOCAxNC41NDUzIDEyLjA5MzggMTQuNjQ4NFYxNS43%0D%0ANzM0Wk03LjUyNTc4IDE1LjkxNjRMMTIuMDI1OCAxMi4xNDNDMTIuMTE0OCAxMi4wNjggMTIuMTE0%0D%0AOCAxMS45Mjk3IDEyLjAyNTggMTEuODU0N0w3LjUyNTc4IDguMDgzNTlDNy40OTg2MiA4LjA2MDQ5%0D%0AIDcuNDY1MzkgOC4wNDU2NyA3LjQzMDA1IDguMDQwODlDNy4zOTQ3MiA4LjAzNjExIDcuMzU4NzUg%0D%0AOC4wNDE1NyA3LjMyNjQyIDguMDU2NjJDNy4yOTQwOSA4LjA3MTY4IDcuMjY2NzcgOC4wOTU2OSA3%0D%0ALjI0NzY4IDguMTI1ODFDNy4yMjg1OSA4LjE1NTk0IDcuMjE4NTUgOC4xOTA5IDcuMjE4NzUgOC4y%0D%0AMjY1NlY5LjY5NjA5QzcuMjE4NzUgOS43NTIzNCA3LjI0MjE5IDkuODAzOTEgNy4yODY3MiA5Ljgz%0D%0AOTA2TDkuODYwMTYgMTJMNy4yODY3MiAxNC4xNjA5QzcuMjY1NzcgMTQuMTc4NSA3LjI0ODg1IDE0%0D%0ALjIwMDMgNy4yMzcxMiAxNC4yMjVDNy4yMjUzOSAxNC4yNDk3IDcuMjE5MTIgMTQuMjc2NiA3LjIx%0D%0AODc1IDE0LjMwMzlWMTUuNzczNEM3LjIxODc1IDE1LjkzMjggNy40MDM5MSAxNi4wMTk1IDcuNTI1%0D%0ANzggMTUuOTE2NFpNMjAuNjI1IDIuNjI1SDMuMzc1QzIuOTYwMTYgMi42MjUgMi42MjUgMi45NjAx%0D%0ANiAyLjYyNSAzLjM3NVYyMC42MjVDMi42MjUgMjEuMDM5OCAyLjk2MDE2IDIxLjM3NSAzLjM3NSAy%0D%0AMS4zNzVIMjAuNjI1QzIxLjAzOTggMjEuMzc1IDIxLjM3NSAyMS4wMzk4IDIxLjM3NSAyMC42MjVW%0D%0AMy4zNzVDMjEuMzc1IDIuOTYwMTYgMjEuMDM5OCAyLjYyNSAyMC42MjUgMi42MjVaTTE5LjY4NzUg%0D%0AMTkuNjg3NUg0LjMxMjVWNC4zMTI1SDE5LjY4NzVWMTkuNjg3NVoiIGZpbGw9IiMwNTkzRkIiLz4K%0D%0APC9zdmc+Cg==") center center no-repeat;
    }
  }
  &__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $gray;
    
  }
}
