.skills {
    max-width: 1216px;
    padding: 0 16px;
    margin: 0 auto;
    padding-bottom: 104px;
  &__header {
    
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 1rem 0 4rem 0;
    border-bottom: 2px solid $lightgray;
  }
}

.working-konwledge,
.know-something,
.want-to {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  padding: 4rem 0;
  

  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
  
    width: 30rem;
    margin: 0;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 4px;
      border-radius: 8px;
      background: $green-line;
      margin-bottom: 1.5rem;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 400;
    font-size: 1.125rem;
   line-height: 2.5rem;
    list-style: none;
    padding-top:6px;
    column-gap:24px;
    &--element{
        padding: 0 auto; 
        color:$gray;
        padding-left:22px;
        position:relative;
        &::before{
            position: absolute;
            top:10px;
            left: -12px;
            padding-right:12px;
            content: '';
            width:18px;
            height:18px;
            display:block;
            background: url('../assets/img/check-circle-green.svg');
        }
    }
  }
}
.know-something {
  &__header::before {
    background: $violet-line;
  }
  &__list{
      &--element::before{
        background: url('../assets/img/check-circle-violet.svg');
      }
  }
}

.want-to {
  &__header::before {
    background: $blue-line;
  }
  &__list{
    &--element::before{
      background: url('../assets/img/check-circle-blue.svg');
    }
}
}
