@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");
@import "modules/person.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: Poppins, sans-serif;
  color:$reflexblue;
  border: 1rem solid $reflexblue;
}

// .landing-page {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 8rem auto 0;
//   width: 60rem;
// }
